name = "QEDprobing"
uuid = "fdc9d422-4d58-410b-839e-b42714d9ecda"
authors = ["Uwe Hernandez Acosta <u.hernandez@hzdr.de"]
version = "1.0.0-DEV"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
